.masthead {
  background-size: cover;
  min-height: 100vh;
  background-color: #00c2d6;
}
.btn-outline {
  background-color: #00c2d6;
}
.navbar-light {
  background-color: #ffffff;
  margin: 0%;
}
.navbar-expand-lg {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  height: 100px;
  width: 100%;
}
.dropdown-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 20px;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  width: 80px;
}
.dropdown-menu:hover {
  display: block;
}
.navbar .nav-link:hover {
  background-color: #00c2d6;
  border-radius: 15px;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #00c2d6;
  border-radius: 10px;
}
.nav-link {
  color: black !important;
}
.nav-link.active {
  color: black !important;
  background-color: #00c2d6;
  border-radius: 10px;
}
.dropdown:hover {
  background-color: #00c2d6;
  border-radius: 10px;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}
.container {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0%;
  width: 560px;
  border-radius: 20px;
  background: #ffffff;
}
h1 {
  position: relative;
  width: 416px;
  height: 71px;
  left: 30px;
  top: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
label {
  position: relative;
  width: 500px;
  height: 87px;
  left: 30px;
  top: 15px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 34px;
}
input[type="email"] {
  position: relative;
  width: 500px;
  height: 70px;
  left: 30px;
  top: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 25px;
  line-height: 40px;
  background: #e5e5e5;
}
input[type="button"] {
  position: relative;
  width: 320px;
  height: 50px;
  left: 120px;
  top: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  text-align: center;
  color: #fdf6ec;
  background: #00c2d6;
  border-radius: 26px;
}
.page-footer {
  background-color: #fdf6ec;
}
#reset {
  font-family: "Raleway", sans-serif;
  font-weight: 550;
  border: 0;
  color: black;
}
#reset:hover{
  background-color: #50677B;
  color: #ffffff;
}
.sec1 {
  background-color: #68f0ff;
  width: 560px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0 0;
}
.error {
  border: 0;
}
.bg-white {
  width: 560px;
  height: 90px;
  margin-left: 672px;
}
