body {
  background: #ececec;
  font-family: sans-serif;
  min-height: 100vh;
}
.btn-outline {
  background-color: #00c2d6;
}
.navbar-light {
  background-color: #ffffff;
  margin: 0%;
}
.navbar-expand-lg {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  height: 100px;
  width: 100%;
}
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 755;
}
.dropdown-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 20px;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  width: 80px;
}
.dropdown-menu:hover {
  display: block;
}
.navbar .nav-link:hover {
  background-color: #00c2d6;
  border-radius: 10px;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #00c2d6;
  border-radius: 10px;
}
.nav-link {
  color: black !important;
}
.nav-link.active {
  color: black !important;
  background-color: #00c2d6;
  border-radius: 10px;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
.dropdown:hover {
  background-color: #00c2d6;
  border-radius: 10px;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}
.dropdown-menu a:hover:not(.active) {
  background-color: #00c2d6;
  color: black;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}
.dropdown-menu a:hover:not(.active) {
  background-color: #00c2d6;
  color: black;
}
.para {
  background-color: #edbea4;
}
.para2 {
  background-color: #edbea4;
}
.position {
  margin-left: 400px;
}
.page-footer {
  background-color: #00c2d6;
}
.input-icons i {
  position: absolute;
}
.icon {
  width: 350px;
  border-radius: 10px;
  background-color: whitesmoke;
}
p {
  font-size: 20px;
}
.input-icons {
  width: 90%;
  margin-bottom: 10px;
}
.input-field {
  width: 90%;
  padding: 10px;
  text-align: center;
}
.con1 {
  background-color: #fdf6ec;
  height: 100vh;
  border-radius: 20px;
}
.sec1 {
  background-color: rgba(0, 194, 214, 0.33);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 150px;
  width: 93%;
}
.img1 {
  width: 280px;
  height: 180px;
}
.img2 {
  width: 200px;
  height: 200px;
}
a {
  text-decoration: none;
}
.img-gmail {
  width: 50px;
  height: 25px;
}
