.masthead {
  background-size: cover;
  min-height: 100vh;
  background-color: #00c2d6;
}
.btn-outline {
  background-color: #00c2d6;
}
.navbar-light {
  background-color: #ffffff;
  margin: 0%;
}
.navbar-expand-lg {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  height: 100px;
  width: 100%;
}
.dropdown-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 20px;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  width: 80px;
}
.dropdown-menu:hover {
  display: block;
}
.navbar .nav-link:hover {
  background-color: #00c2d6;
  border-radius: 15px;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #00c2d6;
  border-radius: 10px;
}
.nav-link {
  color: black !important;
}
.nav-link.active {
  color: black !important;
  background-color: #00c2d6;
  border-radius: 10px;
}
.dropdown:hover {
  background-color: #00c2d6;
  border-radius: 10px;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: #00c2d6;
  border-style: outset;
}
.bg1 {
  background: rgba(0, 194, 214, 0.5);
}
.bg0 {
  background: #68f0ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
}
.btn1 {
  background: linear-gradient(0deg, #00c2d6, #00c2d6), #00c2d6;
}
span {
  cursor: pointer;
}
.icon {
  position: absolute;
  margin-top: 10px;
}
.icon .bi-eye {
  display: none;
  font-size: 2rem;
}
.icon.is-active .bi-eye {
  display: flex;
  margin-top: 10px;
}
.icon.is-active .bi-eye-slash {
  display: none;
}
.icon1 {
  position: absolute;
  margin-top: 10px;
}
.icon1 .bi-eye {
  display: none;
}
.icon1.is-active .bi-eye {
  display: flex;
  margin-top: 10px;
}
.icon1.is-active .bi-eye-slash {
  display: none;
}
.bi-eye-slash {
  font-size: 2rem;
}
.bi-eye {
  font-size: 2rem;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.modtext {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  background: rgba(0, 194, 214, 0.5);
}
#submit {
  background: #00c2d6;
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  color: #ffffff;
}
#resetpass {
  background: #00c2d6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: black;

}
#resetpass:hover{
  background-color: #50677B;
  color: white;
}
.error {
  text-indent: 40px;
}
.error1 {
  border: 1px solid red;
}
.success {
  border: 1px solid green;
}
.text1 {
  text-indent: 40px;
}
.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.con1 {
  width: 650px;
  
}
.div1 {
  margin-right: 35px;
}
.bi-file-lock {
  font-size: 2rem;
}
.bg-white{
  border-radius: 20px;
}
#password {
  width: 450px;
  height: 40px;
  border: 0;
  border-radius: 13px;
  background-color: #ececec;
}
#password1 {
  width: 450px;
  height: 40px;
  border: 0;
  border-radius: 13px;
  background-color: #ececec;
}
.btn-lg {
  border-radius: 13px;
}
.img9 {
  margin-left: 180px;
}
.login1 {
  margin-left: 150px;
}
#submit{
  margin-left: 180px;
  width: 110px;
  height: 40px;
  color: black;
}
#submit:hover{
  background-color: #50677B;
  color: white;
}
.modal-content{
  border-radius: 20px;
}
