.masthead {
  background-size: cover;
  min-height: 100vh;
  background-color: #00c2d6;
}
.btn-outline {
  background-color: #00c2d6;
}
.navbar-light {
  background-color: #ffffff;
  margin: 0%;
}
.navbar-expand-lg {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  height: 100px;
  width: 100%;
}
.dropdown-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 20px;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  width: 80px;
}
.dropdown-menu:hover {
  display: block;
}
.navbar .nav-link:hover {
  background-color: #00c2d6;
  border-radius: 15px;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #00c2d6;
  border-radius: 10px;
}
.nav-link {
  color: black !important;
}
.nav-link.active {
  color: black !important;
  background-color: #00c2d6;
  border-radius: 10px;
}
.dropdown:hover {
  background-color: #00c2d6;
  border-radius: 10px;
}
.btn-outline-secondary {
  background-color: #00c2d6;
  color: white;
  border: 0;
  width: 120px;
  height: 40px;
  border-radius: 10px;
}
.para {
  background-color: #ffffff;
}
.para2 {
  background-color: #ffffff;
}
.position {
  margin-left: 400px;
}
.page-footer {
  background-color: #00c2d6;
}
.search:hover {
  color: #554350 !important;
}
.input-icons i {
  position: absolute;
}
.icon {
  width: 350px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.input-icons {
  width: 90%;
  margin-bottom: 10px;
}
.input-field {
  width: 90%;
  padding: 10px;
  text-align: center;
}
.con1 {
  width: 83%;
  height: 1000px;
  border-radius: 20px;
}
.div1 {
  width: 350px;
  height: 900px;
  margin-top: 10px;
  border-radius: 20px 0 0 20px;
}
.form-select {
  width: 90%;
  background-color: #ececec;
}
.list-group-item {
  border: 0;
}
.form-control {
  background-color: #ececec;
  width: 90%;
}
.refine-search {
  background-color: #00c2d6;
  border: 0;
  margin-left: 50px;
  border-radius: 22px;
}
.div2 {
  background-color: #fdf6ec;
  width: 1420px;
  height: 900px;
  margin-right: -11px;
  margin-top: 10px;
  border-radius: 0 20px 20px 0;
}
h3 {
  margin-top: 10px;
  margin-left: 500px;
}
.div3 {
  width: 1200px;
  height: 240px;
  margin-left: 20px;
  margin-top: 5px;
}
.logo {
  width: 73px;
  height: 60px;
}
.job {
  color: #00c2d6;
}
.btn1 {
  margin-left: 430px;
  border: 0;
  background-color: #00c2d6;
  border-radius: 10px;
}
.btn2 {
  margin-left: 380px;
  border: 0;
  background-color: #00c2d6;
  border-radius: 10px;
}
.btn3 {
  margin-left: 190px;
  border: 0;
  background-color: #00c2d6;
  border-radius: 10px;
}
.bi-search {
  font-size: 20px;
}
